<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uus parool</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <div class="container">
        <div class="header">
          <div class="icon">
            <a href="{{ url_for('home') }}">
            <div class="icon-inner">
           <img src="/static/img/orav.png" alt="Logo"
           width="70px" height="70px">
            </div>
            </a>
          </div>
          <h2>Sea uus parool</h2>
          <p>Palun sisesta oma uus parool allpool.</p>
        </div>

        <form id="newPasswordForm" novalidate>
          <div class="login">
        <div class="login-input">
          <div class="input-icon">
              <svg
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
              >
                <rect x="3" y="11" width="18" height="11" rx="2" ry="2" />
                <path d="M7 11V7a5 5 0 0110 0v4" />
              </svg>
            </div>
            <input
              type="password"
              id="newPassword"
              placeholder="Uus parool"
              required
            />
            <label for="newPassword">Uus parool</label>
          </div>
          <p id="passwordResponse" class="error"></p>
          <button type="button" class="neu-button" onclick="setNewPassword()">
            Salvesta uus parool
          </button>
        </form>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
