<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tööpäeva plaanerija - Registreeri kasutaja</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <form class="card">
        <div class="header">
          <div class="icon">
            <a href="{{ url_for('home') }}">
            <div class="icon-inner">
           <img src="/static/img/orav.png" alt="Logo"
           width="70px" height="70px">
            </div>
            </a>
          </div>
          <h2>Loo konto</h2>
<p>Liitu nüüd – see on lihtne!</p>
        </div>

        <div class="login">
        <div class="login-input">
    <input type="text" id="regUsername" placeholder="Kasutajanimi" />
    <label for="loginUsername">Kasutajanimi</label>
    <div class="input-icon">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/>
                            <circle cx="12" cy="7" r="4"/>
                        </svg>
                <polyline points="22,6 12,13 2,6" />
              </svg>
            </div>
          </div>
        </div>

<div class="login">
        <div class="login-input">
    <input type="password" id="regPassword" placeholder="Parool" />
    <label for="loginPassword">Parool</label>
    <div class="input-icon">
              <svg
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
              >
                <rect x="3" y="11" width="18" height="11" rx="2" ry="2" />
                <path d="M7 11V7a5 5 0 0110 0v4" />
              </svg>
            </div>
            </div>
        </div>

            <div class="login">
        <div class="login-input">
    <input type="email" id="regEmail" placeholder="Email" required />
    <label for="loginPassword">E-mail</label>
    <div class="input-icon">
             <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/>
                                <polyline points="22,6 12,13 2,6"/>
              </svg>
            </div>
            </div>
        </div>
    <button type="button" class="neu-button login-btn" onclick="registerUser()">Loo konto</button>

    <p id="registerResponse"></p>
    <p id="registerNote"></p>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
